<div class="panels" id="about" style="transform: none">
  <div class="panel">
    <img src="{{section1.image}}" alt="{{section1.title}}" />
    <h2>{{section1.title}}</h2>
    <p class="bodytext justified">{{section1.article}}</p>
  </div>
  <div class="panel">
    <img src="{{section2.image}}" alt="{{section2.title}}" />
    <h2>{{section2.title}}</h2>
    <p class="bodytext justified">{{section2.article}}</p>
  </div>
</div>
<hr />
